name: ci

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            build-essential \
            pkg-config \
            libx11-dev \
            libxft-dev \
            libfreetype6-dev

      - name: Configure
        run: cmake -B build

      - name: Build
        run: cmake --build build

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: lmk-linux-amd64
          path: lmk

